/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3FB4C4;
  --ifm-color-primary-dark: #36a7b6;
  --ifm-color-primary-darker: #2e9cab;
  --ifm-color-primary-darkest: #1f8fa3;

  --ifm-color-primary-light: #58c4c9;
  --ifm-color-primary-lighter: #73d0d4;
  --ifm-color-primary-lightest: #9fe1e4;

  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {

  /* fundo principal */
  --ifm-background-color: #121212;
  --ifm-background-surface-color: #1E1E1E;

  /* texto */
  --ifm-font-color-base: #E6E6E6;
  --ifm-font-color-secondary: #B0B0B0;

  /* títulos */
  --ifm-heading-color: #FFFFFF;

  /* links */
  --ifm-link-color: #58C4C9;
  --ifm-link-hover-color: #73D0D4;

  /* sidebar */
  --ifm-menu-color: #E0E0E0;
  --ifm-menu-color-active: #58C4C9;

}

[data-theme='dark'] .markdown {
  color: #E6E6E6;
}

[data-theme='dark'] .markdown p {
  color: #58C4C9;
}

[data-theme='dark'] .markdown li {
  color: #000000;
}

[data-theme='dark'] .menu__link {
  color: #d4d4d4;
}

[data-theme='dark'] .menu__link--active {
  color: #58C4C9;
}

[data-theme='dark'] h1 {
  color: #000000;
}

[data-theme='dark'] h2 {
  color: #58C4C9;
}

[data-theme='dark'] h3 {
  color: #58C4C9;
}

[data-theme='dark'] .katex {
  color: #58C4C9;
}

[data-theme='dark'] hr {
  border-color: #3a3a3a;
}

.card {
  border-radius: 12px;
  transition: transform 0.2s ease;
  border: 1px solid var(--ifm-color-primary-light);
  
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--ifm-color-primary);
}

.col {
  padding: 1.5rem;
  border-radius: 10px;
  background: #f7f7f7;
  margin-bottom: 1rem;
}

.col:hover {
  background: #ececec;
  transition: 0.2s;
}

.exercise-card {
  background: var(--ifm-background-surface-color);
  border-radius: 12px;
  padding: 1.8rem;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
  transition: all 0.2s ease;
  height: 100%;
}

.exercise-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 22px rgba(0,0,0,0.12);
}

.exercise-card h2 {
  margin-top: 0;
}

.exercise-card a {
  font-weight: 600;
}

.row {
  margin-top: 2rem;
}

.latest-exercises {
  list-style: none;
  padding: 0;
}

.latest-exercises li {
  padding: 0.6rem 0;
  border-bottom: 1px solid #eee;
}

.latest-exercises li a {
  font-weight: 500;
}
.back-button {
  margin-bottom: 1.5rem;
}

.hidden {
  display: none !important;
}

.hero--primary {
  background: linear-gradient(135deg, #3FB4C4, #58C4C9);
}